html {
    background-color: #F9B872;
    color: #01257D;
    font-family:'Courier New', Courier, monospace;  
    
}


header
{
    background-image: url('../img/cyber-security-banner.png');
    width: 90%;
    height: 10%;
    padding: 10px 30px 10px ;
    margin: 10px 10px 10px;
    box-shadow: 3px 3px 1px #01257D ;
    position: static;
    border: 3px solid wheat;
   
}

footer
{
    background-image: url('../img/cyber-security-banner.png');
    width: 90%;
    padding: 10px 30px 10px;
    margin: 50px 10px 0px;
    box-shadow: 3px 3px 1px #01257D ;
    position: static;
    border: 3px solid wheat;

    
}

h1
{
    text-align: left;
    font-size:30px;
    color: red;

}

h2
{
    text-align: left;
    font-size:20px;
    color: red;


}

a
{
    display:block;
    font-size:20px;
    color: white;
    text-align: center;
    text-decoration: none;

}

section
{
    text-justify: auto;

}


#menu 
{
  padding: 0px 0px 0px ;
  margin: 0px 0px 0px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
  

#menu li:first-child :hover
{
    color:#01257D;
    background-color:#F9B872;
    transition: all 1s;
    border: 3px solid wheat;
    

}

#menu li:nth-child(2) :hover
{
    color:#01257D;
    background-color:#F9B872;
    transition: all 1s;
    border: 3px solid wheat;

}
#menu li:last-child :hover
{
    color:#01257D;
    background-color:#F9B872;
    transition: all 1s;
    border: 3px solid wheat;

}

.c1
{
    background-color: purple;
    color: white;

}

.c2
{
    background-color: red;
    color: white;

}

.c3
{
    background-color: orange;
    color: white;

}

.c4
{
    background-color:#ffd700 ;
    color: white;

}

.c5
{
    background-color: green;
    color: white;

}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
 

